.presentation {
  .highlight_title {
    color: var(--primary);
    font-size: 24px;
  }

  .highlight_text {
    color: var(--primary);
    font-size: 20px;
  }

  .dark_highlight_title {
    color: var(--darkprimary);
    font-size: 24px;
  }
  .dark_highlight_text {
    color: var(--darkprimary);
    font-size: 20px;
  }

  .text {
    font-size: 20px;
  }
  .title {
    font-size: 28px;
  }

  .services_section {
    display: flex;
    padding: 64px 100px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;

    .services_img {
      width: 400px;
      height: auto;
    }
  }
  .projectBtn {
    background-color: var(--accent);
    border-radius: 50px;
    cursor: pointer;
    padding: 16px 32px;
    outline: inherit;
    font-size: 24px;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.09);
    }
  }

  .services_section p {
    width: 456px;
  }
}

.presentation p {
  text-align: center;
  font-size: 32px;
  padding: 8px;
}
.partnership,
.values,
.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}

.values {
  background-color: var(--secondary);
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(195, 171, 165, 1) 25%,
    rgba(248, 245, 247, 1) 75%
  );
}

.contact {
  background-color: var(--secondary);
  margin: 60px 130px;
  border-radius: 24px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  box-shadow: 10px 10px 10px 0px rgba(195, 171, 165, 0.55);
}

.contact_button {
  background: var(--background);
  color: var(--primary);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 16px 32px;
  outline: inherit;
  font-size: 24px;
}

.contact_button:hover {
  background: var(--accent);
}
