.pageContainer {
  margin: auto;
}

.pageContainer {
  padding: 32px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

}
