.pageContainer {
  margin: auto;
}

.pageContainer {
  padding: 32px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  .categoryWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 12px;

    .categoryChip {
      padding: 4px 12px;
      border-radius: 30px;
      border: 1px solid var(--primary);
      background-color: var(--background);
      cursor: pointer;
      transition: all 0.3s;
    }

    .categoryChip:hover {
      background-color: var(--primary);
      color: var(--background);
    }
  }
}
