.nav {
  background-color: #92436d;
  color: #f8f5f7;
  display: flex;
  gap: 32px;
  padding: 20px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.title {
  font-family: "argent-pixel-cf", sans-serif;
  font-size: 34px;
}

.link {
  font-size: 20px;
  color: var(--accent);
  padding: 8px 0;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.link:hover {
  color: var(--background);
}
