:root {
  --background: #F8F5F7;
  --foreground: #070506;
  --twilightLavender: #92436D;
  --silverPink: #C3ABA5;
  --babyBlueEyes: #A1C9F1;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
