:root {
  --background: #f8f5f7;
  --foreground: #070506;

  --primary: #92436d;
  --secondary: #c3aba5;
  --accent: #a1c9f1;
  --darkprimary: #69304e;
  --darkaccent: #416991;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
