.landing {
  display: flex;
  padding: 45px;
  height: 100vh;
  background-color: #c3aba5;
}

.main {
  position: relative;
}

.title {
  position: absolute;
  font-family: "argent-pixel-cf", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 96px;
  line-height: 110px;
}

.slogan {
  rotate: 90deg;
  font-family: "argent-pixel-cf", sans-serif;
  font-size: 96px;
}
