.landing {
  padding: 88px;
  height: 100vh;
  background-color: #c3aba5;
  position: relative;

  .title {
    font-family: "argent-pixel-cf", sans-serif;
    font-weight: 400;
    font-style: normal;

    position: absolute;
    left: 72px;
    top: 72px;

    font-size: 96px;
    line-height: 110px;
  }

  .banner {
    display: flex;
    align-items: center;
  }

  .slogan {
    rotate: 90deg;
    font-family: "argent-pixel-cf", sans-serif;

    font-size: 96px;
  }
}
