.contactForm {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  .inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .inputContainer label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #070506;
  }

  .inputContainer input,
  .inputContainer textarea {
    padding: 10px;
    border: 1px solid #c3aba5;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
  }

  .inputContainer input:focus,
  .inputContainer textarea:focus {
    border-color: #92436d;
    outline: none;
  }
}

.contactForm button {
  padding: 10px 15px;
  width: 100%;
  background-color: #92436d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease-in-out;
}

.contactForm button:hover {
  background-color: var(--accent);
  color: var(--foreground);
}
